GEMINI_API_KEY=your_gemini_api_key_here
SUBDOMAIN=www
DOMAIN_NAME=redeon.cloud
WHATSAPP_NUMBER=5549998267439
LEAD_WEBHOOK_URL=https://automations.redeon.cloud/webhook/landing-lead
LEAD_WEBHOOK_TOKEN=159541641s98494f6s8e4f95g4a98sd4fq63wf49sd5f4aqw6e8f4aa9df4as9df4as9df4as9d54fa9*sd84fa6sd54fas9df
